name: Staging Pipeline

on:
  push:
    branches:
      - githubactions-staging

jobs: 
  Python-Flask:
    runs-on: ubuntu-latest
    
    steps:
    - name: checkout python flask code
      uses: actions/checkout@v4

    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"


    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r Requirements.txt

    - name: Install pytest
      run: |
        pip install pytest

    - name: Verify versions
      run: |
        echo "===== Checking Python and dependencies versions ====="
        python --version
        flask --version
        pytest --version

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: echo "Building on githubactions-staging branch"

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Test
        run: pytest

  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - name: Deploy
        run: |
          python app.py &
          sleep 5
          curl http://localhost:5000/
